<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<log4net>
		<!-- Console Appender for Debug build -->
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<!-- File Appender for Release build -->
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="log.txt" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<!-- Root Logger -->
		<root>
			<!-- Debug log level for Debug build -->
			<level value="DEBUG" />
			<!-- Reference ConsoleAppender for Debug build -->
			<appender-ref ref="ConsoleAppender" />
		</root>

		<!-- Only use FileAppender for Release build -->
		<logger name="*" additivity="false">
			<level value="DEBUG" />
			<appender-ref ref="FileAppender" />
		</logger>
	</log4net>
</configuration>
